$grey: #777777
$light-green: #1AE30B
$dark-green: #095103
$light-red: #f41818

body
  font-size: 13px
  color: #095103
  background-color: $grey
.projects
  border-color: $dark-green
  border-style: solid
  border-width: 3px 5px 3px 3px
  float: left
  width: 600px
  -moz-border-radius: 14px
  -webkit-border-radius: 14px
  div:first-child
    -moz-border-radius-topright: 9px
    -moz-border-radius-topleft: 9px
    -webkit-border-top-right-radius: 9px
    -webkit-border-top-left-radius: 9px
  div:last-child
    -moz-border-radius-bottomright: 9px
    -moz-border-radius-bottomleft: 9px
    -webkit-border-bottom-right-radius: 9px
    -webkit-border-bottom-left-radius: 9px
.pass
  background-color: $light-green
.fail
  background-color: $light-red
.status
  float: left
  clear: both
  width: 100%
  border: 1px solid $dark-green
  height: 24px
  line-height: 24px
  .name
    text-align: center
    float: left
    vertical-align: middle
    width: 40%
    color: $dark-green
  .sha
    float: left
    text-align: center
    vertical-align: middle
    width: 60%
    color: $dark-green
    cursor: pointer
    text-decoration: underline
